
#drop_zone {
  border: 5px dotted blue;
  width:  450px;
  height: 150px;
  background: #D8EEFF
}

#loading_status{
  font-size: 26;
  color: red;
  font-weight: bold;
}

#num_files{
  font-weight: bold;
}

#total_bases{
  font-weight: bold;
}
