
.step_el{
    margin-left: 100px;
}
.stepHeader{
  background: #1abc9c;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#drop_zone {
  border-radius: 25px;
  border: 5px dotted blue;
  width:  550px;
  height: 150px;
  background: #D8EEFF;
  color: gray;
}

#loading_status{
  font-size: 26;
  color: red;
  font-weight: bold;
}

#num_files{
  font-weight: bold;
}

#total_bases{
  font-weight: bold;
}

#dlFilename{
  border-radius: 7px;
}
